/index.php
/wp-*.php
/wp-content/index.php
/wp-content/languages/
/wp-content/plugins/*
!/wp-content/plugins/wp-graphql*
/wp-content/themes/*
!/wp-content/themes/nexpress/
/wp-content/uploads/wp-migrate-db/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-admin/*
/wp-includes/*
/wp-content/db.php
/wp-content/index.php
/wp-content/debug.log
/wp-content/uploads/**